html {
  font-size: 62.5%;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #220919;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#handle {
  position: absolute;
  cursor: pointer;
  /* top: 0;
  left: 0; */
  /* transform: translate(-50%, -50%); */
  /* user-select: none; */
  width: 6rem;
  height: 6rem;
  border: none;
  background-color: white;
  opacity: 0.1;
  border-radius: 6rem;
  z-index: 1;
  margin: 0;
}

.figures {
  position: absolute;
  display: grid;
  min-width: max-content;
  margin: 1.2rem;
  padding: 0.6rem 1.2rem;
  background-color: #382230;
  border-radius: 0.8rem;
}

#figures-angles {
  grid-template-columns: 6rem 8rem;
  top: 0;
  left: 0;
}

#figures-main {
  grid-template-columns: 6rem 8rem 6rem 8rem;
  bottom: 0;
  left: 0;
}

.lblName {
  text-align: right;
  font-size: 1.2rem;
  padding: 0.4rem;
  color: #d3ced1;
}

.lblValue {
  font-family: monospace;
  font-size: 1.2rem;
  padding: 0.2rem 0.4rem;
  margin: 0.1rem;
  color: #d3ced1;
}

.annotations {
  width: max-content;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  padding-left: 0.8rem;
}

.sin-col {
  color: #22feb0;
}
.cos-col {
  color: #ff4870;
}
.tan-col {
  color: #fde74c;
}
.csc-col {
  color: #02a9ea;
}
.sec-col {
  color: #ff66b3;
}
.cot-col {
  color: #eea243;
}

.lblInput {
  display: block;
  border: none;
  background-color: inherit;
  padding: 0.4rem;
  margin: 0;
  border-radius: 0.2rem;
  color: #d3ced1;
}

.lblInput:focus {
  border: none;
  outline: none;
  background-color: #22feb0;
  color: #220919;
}

.boxInput {
  display: inline;
  width: 1.6rem;
  cursor: pointer;
}

.show-anno-lbl {
  cursor: pointer;
}

/**********/

#svg-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #220919;
  transform: scale(1, -1);
}

#svg-circle {
  /* transform: scale(1, -1); */
  width: min(100vw, 100vh);
  aspect-ratio: 1;
  overflow: visible;
}

.annotation-sm {
  font-family: serif;
  /* line-weight: 0.01; */
  stroke: #220919;
  stroke-width: 0.005rem;
  fill: white;
  font-size: 0.01rem;
  text-anchor: middle;
  alignment-baseline: middle;
  paint-order: stroke;
  user-select: none;
}

@media (max-width: 429px) {
  .annotations {
    left: 0;
    top: -25%;
    transform: unset;
  }
}

@media (max-height: 380px) {
  .figures {
    margin: 0.4rem 0.8rem;
    padding: 0.4rem 1.2rem 0.2rem 1.2rem;
  }
  .lblName {
    font-size: 1.1rem;
    padding: 0.1rem;
  }

  .lblValue {
    font-size: 1.1rem;
    padding: 0.1rem 0.2rem;
  }
}
